<h1>Add</h1>
{{ form_start(myForm) }}
<table>
    <tr>
        <td>{{ form_label(myForm.nsc,"Numero d'inscription") }}</td>
        <td>{{ form_widget(myForm.nsc) }}</td>

    </tr>
    <tr>
        <td>{{ form_label(myForm.email) }}</td>
        <td>{{ form_widget(myForm.email) }}</td>
    </tr>

    <tr>
        <td>{{ form_label(myForm.class) }}</td>
        <td>{{ form_widget(myForm.class) }}</td>
    </tr>

    <tr>
        <td></td>
        <td>{{ form_widget(myForm.Ajouter) }}</td>
    </tr>
</table>

{{ form_end(myForm) }}